<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salary.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.salary.model.User">
        <id column="uid" jdbcType="VARCHAR" property="id"/>
        <result column="did" property="departId"/>
        <result column="depart_id" jdbcType="VARCHAR" property="departId"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="uname" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="VARCHAR" property="age"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="psd" jdbcType="VARCHAR" property="psd"/>
        <result column="work_year" jdbcType="INTEGER" property="workYear"/>
        <result column="user_flag" jdbcType="INTEGER" property="userFlag"/>
        <result column="gender" jdbcType="CHAR" property="gender"/>
        <!--部门-->
        <association property="department" javaType="com.salary.model.Department">
            <id column="did" property="id"/>
            <result column="depart_name" property="departName"/>
        </association>
        <!--角色列表-->
        <collection property="authorities" ofType="com.salary.model.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>

    <select id="getByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select u.id     uid,
               d.id     did,
               depart_name,
               r.id     rid,
               r.name   rname,
               r.nameZh rnameZh,
               position,
               u.name   uname,
               age,
               id_card,
               email,
               phone,
               psd,
               work_year,
               user_flag,
               gender
        from user u,
             department d,
             user_role ur,
             role r
        where u.id = #{id,jdbcType=VARCHAR}
          and u.depart_id = d.id
          and u.id = ur.user_id
          and ur.role_id = r.id
    </select>
</mapper>